/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header Styles */
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .header h1 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
  
  /* Form Styles */
  .form-container {
    display: flex;
    justify-content: space-between;
  }
  
  .form {
    flex-basis: 48%;
    margin-bottom: 20px;
  }
  
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="password"],
  .form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  /* Media Query for Responsive Layout */
  @media (max-width: 768px) {
    .form-container {
      flex-direction: column;
    }
  
    .form {
      flex-basis: 100%;
    }
  }
/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  /* Link Styles */
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }  
  .logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
   /* Product List Styles */
   .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .product-list img {
    max-width: 100%;
    height: auto;
  }

  .product-list h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .product-list p {
    margin: 0;
  }